:root{
	/* --border-width: 20px; */

}

body {
	/* --border-width:20px; */
}

/* .theme-light{

} */

.theme-dark {
	/* 
		Base Colors
	*/
	--color-base-00: #1D1214;
	--color-base-05: #231316;
	--color-base-10: #2B151A;
	--color-base-20: #3F1C24;
	--color-base-25: #491F26;
	--color-base-30: #512024;
	--color-base-35: #602225;
	--color-base-40: #6E2A2B;
	--color-base-50: #8A3434;
	--color-base-60: #A24444;
	--color-base-70: #C76161;
	--color-base-100: #FF9B9B;

	/* 
		Default Accent Color
	*/
	--accent-h: 36;
	--accent-s: 95%;
	--accent-l: 74%;

	/* 
		Surface Colors
	*/
	--background-primary: var(--color-base-00);
	--background-primary-alt:var(--color-base-10);
	--background-secondary: var(--color-base-10);
	--background-secondary-alt: var(--color-base-20);
	
	--background-modifier-hover: var(--color-base-40);
	--background-modifire-border: #CD943F;
	--background-modifier-border-hover: #E3A750;
	--background-modifier-border-focus: #FCBD5F;

	/* 
		Interactive Colors
	*/
	
	--interactive-accent: #FCBD5F;

	/* 
		Text Colors
	*/
	/* Foreground */
	--text-normal: #FFE3A7;
	--text-muted: #E0BB6B;
	--text-faint: #786438;
	--text-on-accent: var(--color-base-10);
	--text-on-accent-inverted: #FFE3A7;
	--text-accent: #E0BB6B;
	--text-accent-hover: #FFE3A7;
	/* Background */
	--text-selection:#66266652;
	--text-highlight-bg: #8A3434;


	/*  
		Additional Text Formatting
	*/
	--bold-weight: 700;
	--bold-color: #FED272;
	--italic-color: #FED272;

	/* 
		Code Formatting
	*/
	--code-normal: #E0BB6B;
	--code-comment: #784F38;
	--code-function:#A36E35;
	--code-important:#ff9e35;
	--code-keyword: #BA5187;
	--code-operator: #DDB253;
	--code-property: #DD664E;
	--code-punctuation: #784F38;
	--code-string: #708739;
	--code-tag:#C9733E;
	--code-value: #8357AC;

	/* 
		Window Formatting
	*/
	/* Divider */
	--divider-color: var(--color-base-20);
	--divider-color-hover: var(--color-base-60);
	--divider-width: 2px;
	--divider-vertical-height: 96.3%;

	/* Ribbon */
	--ribbon-background: var(--color-base-40);
	--ribbon-background-collapsed: var(--color-base-10);
	--ribbon-width: 2.75rem;

	/* Scrollbar */
	--scrollbar-bg:#FFE3A7;
	--scrollbar-thumb-bg: #ffe3a742;
	--scrollbar-active-thumb-bg: #fcd98d54;

	/* Status Bar */
	--status-bar-background: var(--color-base-40);
	--status-bar-border-color: var(--color-base-60);
	--status-bar-border-width: 2px;
	
	/* Title Bar */
	--titlebar-background: var(--color-base-10);
	--titlebar-background-focused: var(--color-base-30);

	/*  
		Components
	*/
	/*  Indentation Guides */
	--indentation-guide-width-active: 2px;
	--indentation-guide-color: #332C1E;
	--indentation-guide-color-active: #786438;
	--indentation-guide-editing-indent: 2.5ch;

	/* Nav Items */
	--nav-collapse-icon-color: #FFE3A7;

	/* Tabs */
	--tab-radius:10px 10px 0px 0px;
	--tab-radius-active:10px 10px 0px 0px;
	--tab-outline-color: #786438;

	/* 
		Editor
	*/
	/* File */
	--file-line-width: 110ch;
	--file-header-font-size: 14pt;
	--file-header-border: 2px solid var(--color-base-05);
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
}

.menu {
	padding: var(--size-2-1);
	color: red;
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
